# Ignore files
restart-local-server.sh
quicktest.ini
build/
dist/
dumps/*
*.ipynb
.ipynb*
*.sql
~*
run.sh
.~*
*.bak
eggs/
pyramid.pid
scores.zip.gz
zzzz/
.idea
.zedstate
*.pyc
*.pyo
*.db
*.log
*.swp
*.swo
*.bak
*~
dpisdevdb.sh
*.orig
*.eggs
/*.ini
/uploads/
local.ini
server.ini
robot.ini
email.ini
c9.ini
gitlab.ini
pip-selfcheck.json
resultreporter.sql
src/resultreporter_site/scripts/*.json
src/resultreporter_site/scripts/scores.zip
src/resultreporter_site/resultreporter_site/assets/
src/*/scripts/tables
src/kotti_pdf/
_*.json
local-*.ini
*.csv
*.zip
src/resultreporter_site/scripts/data/*/
src/resultreporter_site/scripts/data/*.json
*.json

# Ignore Folders
src/*/*/static/ext
include/
bin/
lib/
local/
share/
*.eggs/
*.egg-info/

# Ignore Robot framework files
src/*/tests/*.log
src/*/tests/*.html
src/*/tests/*.xml
selenium*
src/*/tests/robot/*.log
src/*/tests/robot/*.html
src/*/tests/robot/*.xml
src/*/tests/robot/selenium*


.DS_Store

# Ignore configuration files
staging.ini
testing.ini
production.ini
./*.ini

.zedstate
.installed.cfg
docs/bin/
docs/parts/
docs/_build/
bin/
parts/
_build/

output.xml
log.html
report.html

!src/*/bower.json
!pwk.zip
!base.ini
